.sign-in-form {
  width: 527px;
  padding: 6px;
  background-color: gray;
  border-radius: 40px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 48px;
    border-radius: 34px;
    background-color: white;
  }

  &__logo {
    margin-bottom: 32px;
  }

  &__title {
    @include heading-h1;
    margin-bottom: 12px;
  }

  &__description {
    @include body-b1;
    margin-bottom: 32px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
    width: 100%;
  }

  &__checkbox {
    margin-bottom: 20px;
  }

  &__button {
    margin-bottom: 16px;
  }
}