:root {
  // colors
  --primary: #242edb;
  --primary-pressed: #367aff;
  --secondary: #9b00e6;
  --bg-primary: #f9f9f9;
  --bg-secondary: #423c45;
  --bg-tertiary: #2b2b2b;
  --bg-input: #f3f4f6;
  --text: #232323;
  --text-secondary: #e0e0e0;
  --text-tertiary: #ebebeb;
  --text-muted: #9ca3af;
  --text-contrast: #ffffff;
  --border: #ededed;
  --border-primary: #367aff;
  --danger-low: #24ff4e;
  --danger-medium: #fca307;
  --danger-high: #ff4e4e;
  --icon: #e0e0e0;

  // fonts
  --inter: 'Inter', sans-serif;
  --cairo: 'Cairo', sans-serif;
}